on:
  push:
    branches: [main]
  pull_request:

name: semver-checks

jobs:
  semver:
    name: Run cargo-semver-checks
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          submodules: recursive
      - uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          components: clippy
      - name: Install cargo-semver-checks
        uses: baptiste0928/cargo-install@v3
        with:
          crate: cargo-semver-checks
          version: "~0.45.0"
      - name: run check-release
        # We do each crate separately b/c the demes ffi crate
        # is not yet on crates.io so there are no docs to compare to
        run: |
          cargo semver-checks check-release --all-features --manifest-path demes/Cargo.toml
          cargo semver-checks check-release --all-features --manifest-path demes-forward/Cargo.toml
          cargo semver-checks check-release --all-features --manifest-path demes-forward-capi/Cargo.toml
